---
import pat_plat_1 from '../../../src/img/PLATINO/GRUPOHERSA.svg';
import pat_oro_1 from '../../../src/img/ORO/CONKAMEX.svg';
import pat_oro_2 from '../../../src/img/ORO/URCONSA.svg';
import pat_oro_3 from '../../../src/img/ORO/MANGODECK.svg';
import pat_oro_4 from '../../../src/img/ORO/YENEKAMU.svg';
import pat_oro_5 from '../../../src/img/ORO/FASE.svg';
import pat_plata_1 from '../../../src/img/PLATA/CABOSTYLE1.svg';
import pat_plata_2 from '../../../src/img/PLATA/REPSOL.svg';
import pat_plata_3 from '../../../src/img/PLATA/ALARCONABOGADOS.svg';
import pat_plata_4 from '../../../src/img/PLATA/INNOVACIONSOLAR.svg';
import pat_hoyo_1 from '../../../src/img/HOYO/CACTUSTOURS.svg';
import pat_hoyo_2 from '../../../src/img/HOYO/ELECTRIFICA.svg';
import pat_hoyo_3 from '../../../src/img/HOYO/MARINACORTEZ.svg';
import pat_hoyo_4 from '../../../src/img/HOYO/METLIFE.svg';
import pat_hoyo_5 from '../../../src/img/HOYO/VHCTRANSPORTE.svg';
import pat_hoyo_6 from '../../../src/img/HOYO/tapiazuckerman_white_1.svg';
import logotop1 from '../../../src/img/torneogolf4sponsors_white_1.svg';
import croclogo from '../../../src/img/LogoCROC_white1.svg';
import indemlogo from '../../../src/img/logoINDEM2_white1.svg';
import logotendencia from '../../../src/img/PLATA/logotendencia1-06.svg';
import logofortem from '../../../src/img/PLATA/logotipo_menu_fortem_white.svg';

import Linksvg from './Linksvg.astro';
---

<div class="container mx-auto m-8">
    <h1 class="w-full text-center py-16 text-4xl font-normal uppercase tracking-tight leading-none text-white md:text-4xl lg:text-5xl">Nuestros Patrocinadores</h1>
    <!-- Platino -->
    <div class="py-2">
    <div class="grid grid-cols-1 md:grid-cols-2">
        <div class="grid place-items-center content-center" data-aos="zoom-in">
            <img class="w-full max-w-96 h-full object-cover hover:-0 flex align-middle justify-center" src={pat_plat_1.src} alt="Grupo Hersa Patrocinador">
            <div class="w-full text-center flex flex-col align-middle items-center justify-center">
                <a href="https://grupohersa.mx/" target="_blank" class="appearance-none"><svg class="w-6 h-6 text-white " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.213 9.787a3.391 3.391 0 0 0-4.795 0l-3.425 3.426a3.39 3.39 0 0 0 4.795 4.794l.321-.304m-.321-4.49a3.39 3.39 0 0 0 4.795 0l3.424-3.426a3.39 3.39 0 0 0-4.794-4.795l-1.028.961"/>
                  </svg>
                  </a>
                <h2 class="hidden w-full text-center uppercase text-2xl text-white p-4">Platino 1</h2>
            </div>
        </div>
        <!-- PLATINO 2 -->
        <div class="grid place-items-center content-center">
            <img class="w-full max-w-96 h-full object-cover hover:-0 flex align-middle justify-center  animate-pulse" src={logotop1.src} alt="Espacio Disponible">
            <div class="w-full text-center flex flex-col align-middle items-center justify-center">
                <a href="" target="_blank" class="appearance-none "><svg class="w-6 h-6 text-white " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.213 9.787a3.391 3.391 0 0 0-4.795 0l-3.425 3.426a3.39 3.39 0 0 0 4.795 4.794l.321-.304m-.321-4.49a3.39 3.39 0 0 0 4.795 0l3.424-3.426a3.39 3.39 0 0 0-4.794-4.795l-1.028.961"/>
                  </svg>
                  </a>
                <p class="text-white text-2xl animate-pulse hidden">Disponible!</p>
                <h2 class="hidden w-full text-center uppercase text-2xl text-white p-4">Platino 2</h2>
            </div>
        </div>
    </div>
    <h1 class="w-full text-center uppercase text-5xl tracking-wider text-white p-4">Platino</h1>
    </div>
    <!-- Oro -->
    <div class="py-16">
        <div class="grid grid-cols-1 md:grid-cols-3">
            <div class="grid place-items-center content-center" data-aos="zoom-in">
                <img class="w-3/4 max-w-96 h-full object-cover hover:-0 flex align-middle justify-center" src={pat_oro_1.src} alt="Conkamex patrocinador">
                <div class="w-full text-center flex flex-col align-middle items-center justify-center">
                    <a href="https://www.conkmex.com/" target="_blank" class="appearance-none"><Linksvg /></a>
                </div>
            </div>
            <div class="grid place-items-center content-center" data-aos="zoom-in">
                <img class="w-3/4 max-w-96 h-full object-cover  hover:-0" src={pat_oro_4.src} alt="Cerveza Yenekamu">
                <div class="w-full text-center flex flex-col align-middle items-center justify-center">
                    <a href="https://cervezayenekamu.com/" target="_blank" class="appearance-none"><Linksvg /></a>
                </div>
                
            </div>
            <div class="grid place-items-center  content-center" data-aos="zoom-in">
                <img class="w-3/4 max-w-96 h-full object-cover  hover:-0" src={pat_oro_3.src} alt="Mango Deck Los Cabos Patrocinador Oro">
                <div class="w-full text-center flex flex-col align-middle items-center justify-center">
                    <a href="https://www.mangodeckcabo.com/" target="_blank" class="appearance-none"><Linksvg /></a>
                </div>
            </div>
        </div>
        <!-- -->
        <div class="grid grid-cols-1 md:grid-cols-3">
            <div class="grid place-items-center content-center" data-aos="zoom-in">
                <img class="w-3/4 max-w-96 h-full object-cover hover:-0 flex align-middle justify-center" src={pat_oro_2.src} alt="Patrocinador oro">
                <div class="w-full text-center flex flex-col align-middle items-center justify-center">
                    <a href="https://www.urconsa.com.mx/" target="_blank" class="appearance-none"><Linksvg /></a>
                </div>
                
            </div>
            <div class="grid place-items-center content-center" data-aos="zoom-in">
                <img class="w-3/4 max-w-96 h-full object-cover hover:-0 flex align-middle justify-center" src={logofortem.src} alt="Fortem Capital Patrocinador">
                <div class="w-full text-center flex flex-col align-middle items-center justify-center">
                    <a href="https://fortemcapital.com.mx/" target="_blank" class="appearance-none"><Linksvg /></a>
                </div>
            </div>
            <div class="grid place-items-center content-center" data-aos="zoom-in">
                <img class="w-3/4 max-w-96 h-full object-cover hover:-0 flex align-middle justify-center" src={pat_oro_5.src} alt="Fase asesores Patrocinador">
                <div class="w-full text-center flex flex-col align-middle items-center justify-center">
                <a href="https://www.faseasesores.com.mx/" target="_blank" class="appearance-none"><Linksvg /></a>
                </div>
            </div>
        </div>
        <h1 class="w-full text-center uppercase text-5xl tracking-wider text-white p-4">Oro</h1>
    </div>
    
    <!-- Plata -->
    <div class="py-16">
        <div class="grid grid-cols-2 md:grid-cols-5">
            <div class="grid place-items-center content-center ">
                <img class="w-full max-w-96 h-full object-cover hover:-0" src={pat_plata_1.src} alt="am 1">
            </div>
            <div class="grid place-items-center content-center">
                <img class="w-full max-w-96 h-full object-cover hover:-0" src={pat_plata_2.src} alt="am 2">
            </div>
            <div class="grid place-items-center content-center">
                <img class="w-full max-w-96 h-full object-cover hover:-0" src={pat_plata_3.src} alt="am 3">
            </div>
            <div class="grid place-items-center content-center">
                <img class="w-full max-w-96 h-full object-cover hover:-0" src={pat_plata_4.src} alt="am 4">
            </div>
            <div class="grid place-items-center content-center">
            <img class="w-full max-w-96 h-full object-cover hover:-0" src={logotendencia.src} alt="Tendencia Patrocinador">
            </div>
        </div>
        <h2 class="w-full text-center uppercase text-2xl text-white p-4">Plata</h2>
    </div>
    
    <!-- Hoyo -->
    <div class="py-16">
        <div class="grid grid-cols-2 md:grid-cols-5 py-4">
            <div class="grid place-items-center content-center">
                <img class="w-full max-w-96 h-full object-cover hover:-0" src={pat_hoyo_1.src} alt="am 1">
            </div>
            <div class="grid place-items-center content-center">
                <img class="w-full max-w-96 h-full object-cover  hover:-0" src={pat_hoyo_2.src} alt="am 2">
            </div>
            <div class=" grid place-items-center  content-center">
                <img class="w-full max-w-96 h-full object-cover  hover:-0" src={pat_hoyo_3.src} alt="am 3">
            </div>
            <div class=" grid place-items-center  content-center">
                <img class="w-full max-w-96 h-full object-cover  hover:-0" src={pat_hoyo_4.src} alt="am 4">
            </div>
            <div class=" grid place-items-center  content-center">
                <img class="w-full max-w-96 h-full object-cover  hover:-0" src={pat_hoyo_5.src} alt="am 5">
            </div>
        </div>
        <!-- -->
        <div class="grid grid-cols-2 md:grid-cols-5 py-4">
            <div class="grid place-items-center content-center">
                <img class="w-3/4 max-w-96 h-full" src={pat_hoyo_6.src} alt="Tapia Zuckermann">
            </div>
            <div class="grid place-items-center content-center">
                <img class="w-3/4 max-w-70 animate-pulse" src={logotop1.src} alt="Espacio Disponible">
                <p class="text-white text-xl animate-pulse">Disponible!</p>
            </div>
            <div class="grid place-items-center  content-center">
                <img class="w-3/4 max-w-70 animate-pulse" src={logotop1.src} alt="Espacio Disponible">
                <p class="text-white text-xl animate-pulse">Disponible!</p>
            </div>
            <div class="grid place-items-center  content-center">
                <img class="w-3/4 max-w-70 animate-pulse" src={logotop1.src} alt="Espacio Disponible">
                <p class="text-white text-xl animate-pulse">Disponible!</p>
            </div>
            <div class="grid place-items-center  content-center">
                <img class="w-3/4 max-w-70 animate-pulse" src={logotop1.src} alt="Espacio Disponible">
                <p class="text-white text-xl animate-pulse">Disponible!</p>
            </div>
        </div>
        <!-- -->
        <div class="grid grid-cols-2 md:grid-cols-5 py-4">
            <div class="grid place-items-center content-center">
                <img class="w-3/4 max-w-70 animate-pulse" src={logotop1.src} alt="Espacio Disponible">
                <p class="text-white text-xl animate-pulse">Disponible!</p>
            </div>
            <div class="grid place-items-center content-center">
                <img class="w-3/4 max-w-70 animate-pulse" src={logotop1.src} alt="Espacio Disponible">
                <p class="text-white text-xl animate-pulse">Disponible!</p>
            </div>
            <div class="grid place-items-center  content-center">
                <img class="w-3/4 max-w-70 animate-pulse" src={logotop1.src} alt="Espacio Disponible">
                <p class="text-white text-xl animate-pulse">Disponible!</p>
            </div>
            <div class="grid place-items-center  content-center">
                <img class="w-3/4 max-w-70 animate-pulse" src={logotop1.src} alt="Espacio Disponible">
                <p class="text-white text-xl animate-pulse">Disponible!</p>
            </div>
            <div class="grid place-items-center content-center">
                <img class="w-3/4 max-w-70 animate-pulse" src={logotop1.src} alt="Espacio Disponible">
                <p class="text-white text-xl animate-pulse">Disponible!</p>
            </div>
        </div>
        <!-- -->
        
        <h2 class="w-full text-center uppercase text-2xl text-white p-4">Hoyo</h2>
    </div>
    <div class="py-8">
        <div class="grid grid-cols-1 md:grid-cols-2">
            <div class="grid place-items-center content-center" data-aos="zoom-in">
                <img class="w-48 max-w-96 h-full object-cover hover:-0 flex align-middle justify-center" src={croclogo.src} alt="CROC Patrocinador">
                <div class="w-full text-center flex flex-col align-middle items-center justify-center">
                    <a href="https://www.croc.org.mx/" target="_blank" class="appearance-none"><svg class="m-2 w-6 h-6 text-white " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.213 9.787a3.391 3.391 0 0 0-4.795 0l-3.425 3.426a3.39 3.39 0 0 0 4.795 4.794l.321-.304m-.321-4.49a3.39 3.39 0 0 0 4.795 0l3.424-3.426a3.39 3.39 0 0 0-4.794-4.795l-1.028.961"/>
                      </svg>
                      </a>
                </div>
                
            </div>
            <div class="grid place-items-center content-center" data-aos="zoom-in">
                <img class="w-32 max-w-96 h-full object-cover hover:-0 flex align-middle justify-center" src={indemlogo.src} alt="INDEM Patrocinador">
                <div class="w-full text-center flex flex-col align-middle items-center justify-center">
                    <a href="https://indemloscabos.gob.mx/" target="_blank" class="appearance-none">                
                        <svg class="m-2 w-6 h-6 text-white " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.213 9.787a3.391 3.391 0 0 0-4.795 0l-3.425 3.426a3.39 3.39 0 0 0 4.795 4.794l.321-.304m-.321-4.49a3.39 3.39 0 0 0 4.795 0l3.424-3.426a3.39 3.39 0 0 0-4.794-4.795l-1.028.961"/>
                          </svg>
                          </a>
                </div>
                
            </div>
        </div>
        <h2 class="w-full text-center uppercase text-2xl text-white p-4">Institucionales</h2>
    </div>
    
    
</div>