---
import { Image } from 'astro:assets';

import pat_oro_1 from '../../../src/img/ORO/CONKAMEX.svg';
import pat_oro_2 from '../../../src/img/ORO/URCONSA.svg';
import pat_oro_3 from '../../../src/img/ORO/MANGODECK.svg';
import pat_oro_4 from '../../../src/img/ORO/YENEKAMU.svg';
import pat_oro_5 from '../../../src/img/ORO/FASE.svg';
import logofortem from '../../../src/img/PLATA/logotipo_menu_fortem_white.svg';

import Linksvg from '../widgets/Linksvg.astro';
---

<div class="py-8">
    <div class="grid grid-cols-1 md:grid-cols-3">
        <div class="grid place-items-center content-center" data-aos="zoom-in">
            <img class="w-3/4 max-w-96 h-full object-cover hover:-0 flex align-middle justify-center" src={pat_oro_1.src} alt="Conkamex patrocinador">
            <div class="w-full text-center flex flex-col align-middle items-center justify-center">
                <a href="https://www.conkmex.com/" target="_blank" class="appearance-none"><Linksvg /></a>
            </div>
        </div>
        <div class="grid place-items-center content-center" data-aos="zoom-in">
            <img class="w-3/4 max-w-96 h-full object-cover  hover:-0" src={pat_oro_4.src} alt="Cerveza Yenekamu">
            <div class="w-full text-center flex flex-col align-middle items-center justify-center">
                <a href="https://cervezayenekamu.com/" target="_blank" class="appearance-none"><Linksvg /></a>
            </div>
            
        </div>
        <div class="grid place-items-center  content-center" data-aos="zoom-in">
            <img class="w-3/4 max-w-96 h-full object-cover  hover:-0" src={pat_oro_3.src} alt="Mango Deck Los Cabos Patrocinador Oro">
            <div class="w-full text-center flex flex-col align-middle items-center justify-center">
                <a href="https://www.mangodeckcabo.com/" target="_blank" class="appearance-none"><Linksvg /></a>
            </div>
        </div>
    </div>
    <!-- -->
    <div class="grid grid-cols-1 md:grid-cols-3">
        <div class="grid place-items-center content-center" data-aos="zoom-in">
            <img class="w-3/4 max-w-96 h-full object-cover hover:-0 flex align-middle justify-center" src={pat_oro_2.src} alt="Patrocinador oro">
            <div class="w-full text-center flex flex-col align-middle items-center justify-center">
                <a href="https://www.urconsa.com.mx/" target="_blank" class="appearance-none"><Linksvg /></a>
            </div>
            
        </div>
        <div class="grid place-items-center content-center" data-aos="zoom-in">
            <Image src={logofortem} alt='Fortem Capital Patrocinador' class="w-3/4 max-w-96 h-full object-cover hover:-0 flex align-middle justify-center" />
            <div class="w-full text-center flex flex-col align-middle items-center justify-center">
                <a href="https://fortemcapital.com.mx/" target="_blank" class="appearance-none"><Linksvg /></a>
            </div>
        </div>
        <div class="grid place-items-center content-center" data-aos="zoom-in">
            <img class="w-3/4 max-w-96 h-full object-cover hover:-0 flex align-middle justify-center" src={pat_oro_5.src} alt="Fase asesores Patrocinador">
            <div class="w-full text-center flex flex-col align-middle items-center justify-center">
            <a href="https://www.faseasesores.com.mx/" target="_blank" class="appearance-none"><Linksvg /></a>
            </div>
        </div>
    </div>
    <h1 class="w-full text-center uppercase text-5xl tracking-wider text-white p-4">Oro</h1>
</div>