---
import logotop1 from '../../../src/img/torneogolf4sponsors_white_1.svg';
import pat_hoyo_1 from '../../../src/img/HOYO/cactustours_white_1.svg';
import pat_hoyo_2 from '../../../src/img/HOYO/electrifica_white_1.svg';
import pat_hoyo_3 from '../../../src/img/HOYO/marinacortez_white_1.svg';
import pat_hoyo_4 from '../../../src/img/HOYO/metlife_white_1.svg';
import pat_hoyo_5 from '../../../src/img/HOYO/vhc_white_1.svg';
import pat_hoyo_6 from '../../../src/img/HOYO/tapiazuckerman_white_1.svg';
import pat_hoyo_7 from '../../../src/img/HOYO/chinagirl_white_1.svg';
import pat_hoyo_8 from '../../../src/img/HOYO/santopulpo_white_1.svg';
import pat_hoyo_9 from '../../../src/img/HOYO/lajesusa_white_1.svg';
import pat_hoyo_10 from '../../../src/img/HOYO/cielindo_white_1.svg';
import pat_hoyo_11 from '../../../src/img/HOYO/lagaleria_white_1.svg';
import pat_hoyo_12 from '../../../src/img/HOYO/pam_white_1.svg';
import pat_hoyo_13 from '../../../src/img/HOYO/nearshoring_white_1.svg';
---

<div class="py-8">
    <h2 class="w-full text-center uppercase text-2xl text-white p-4">Hoyo</h2>
    <hr class="h-px my-2 bg-gray-200 border-0 dark:bg-gray-700 w-80 mx-auto">
    <div class="grid grid-cols-2 md:grid-cols-5 py-4">
        <div class="grid place-items-center content-center">
            <img class="max-w-44 lg:max-w-96 h-full object-cover hover:-0" src={pat_hoyo_1.src} alt="Cactus Tours patrocinador Hoyo">
        </div>
        <div class="grid place-items-center content-center">
            <img class="max-w-44 lg:max-w-96 h-full object-cover  hover:-0" src={pat_hoyo_2.src} alt="Electrifica patrocinador Hoyo">
        </div>
        <div class=" grid place-items-center  content-center">
            <img class="max-w-44 lg:max-w-96 h-full object-cover  hover:-0" src={pat_hoyo_3.src} alt="Marina Cortez patrocinador Hoyo">
        </div>
        <div class=" grid place-items-center  content-center">
            <img class="max-w-44 lg:max-w-96 h-full object-cover  hover:-0" src={pat_hoyo_4.src} alt="Metlife patrocinador Hoyo">
        </div>
        <div class=" grid place-items-center content-center">
            <img class="max-w-44 lg:max-w-96 h-full object-cover  hover:-0" src={pat_hoyo_5.src} alt="VHC patrocinador Hoyo">
        </div>
    </div>
    <!-- -->
    <div class="grid grid-cols-2 md:grid-cols-5 py-4">
        <div class="grid place-items-center content-center">
            <img class="w-3/4 max-w-70 lg:max-w-96" src={pat_hoyo_6.src} alt="Tapia Zuckermann patrocinador Hoyo">
        </div>
        <div class="grid place-items-center content-center">
            <img class="w-3/4 max-w-70" src={pat_hoyo_7.src} alt="China Girl">
        </div>
        <div class="grid place-items-center  content-center">
            <img class="w-3/4 max-w-70" src={pat_hoyo_8.src} alt="Santo Pulpo">
        </div>
        <div class="grid place-items-center  content-center">
            <img class="w-3/4 max-w-70" src={pat_hoyo_9.src} alt="La Jesusa">
        </div>
        <div class="grid place-items-center  content-center">
            <img class="w-3/4 max-w-70" src={pat_hoyo_10.src} alt="Cielindo">
        </div>
    </div>
    <!-- -->
    <div class="grid grid-cols-2 md:grid-cols-5 py-4">
        <div class="grid place-items-center content-center">
            <img class="w-3/4 max-w-70" src={pat_hoyo_11.src} alt="La Galeria">
        </div>
        <div class="grid place-items-center content-center">
            <img class="w-3/4 max-w-70" src={pat_hoyo_12.src} alt="Espacio Disponible">
        </div>
        <div class="grid place-items-center content-center">
            <img class="w-3/4 max-w-70" src={pat_hoyo_13.src} alt="">
        </div>
        <div class="grid place-items-center  content-center">
            <img class="w-3/4 max-w-70 animate-pulse" src={logotop1.src} >
            <p class="text-white text-xl animate-pulse">Disponible!</p>
        </div>
        <div class="grid place-items-center content-center">
            <img class="w-3/4 max-w-70 animate-pulse" src={logotop1.src} alt="Espacio Disponible">
            <p class="text-white text-xl animate-pulse">Disponible!</p>
        </div>
    </div>
    <!-- -->
    
    
</div>