---
import logotop1 from '../../../src/img/torneogolf4sponsors_white_1.svg';
import pat_hoyo_1 from '../../../src/img/HOYO/CACTUSTOURS.svg';
import pat_hoyo_2 from '../../../src/img/HOYO/ELECTRIFICA.svg';
import pat_hoyo_3 from '../../../src/img/HOYO/MARINACORTEZ.svg';
import pat_hoyo_4 from '../../../src/img/HOYO/METLIFE.svg';
import pat_hoyo_5 from '../../../src/img/HOYO/VHCTRANSPORTE.svg';
import pat_hoyo_6 from '../../../src/img/HOYO/tapiazuckerman_white_1.svg';
---

<div class="py-8">
    <div class="grid grid-cols-2 md:grid-cols-5 py-4">
        <div class="grid place-items-center content-center">
            <img class="w-full max-w-96 h-full object-cover hover:-0" src={pat_hoyo_1.src} alt="am 1">
        </div>
        <div class="grid place-items-center content-center">
            <img class="w-full max-w-96 h-full object-cover  hover:-0" src={pat_hoyo_2.src} alt="am 2">
        </div>
        <div class=" grid place-items-center  content-center">
            <img class="w-full max-w-96 h-full object-cover  hover:-0" src={pat_hoyo_3.src} alt="am 3">
        </div>
        <div class=" grid place-items-center  content-center">
            <img class="w-full max-w-96 h-full object-cover  hover:-0" src={pat_hoyo_4.src} alt="am 4">
        </div>
        <div class=" grid place-items-center  content-center">
            <img class="w-full max-w-96 h-full object-cover  hover:-0" src={pat_hoyo_5.src} alt="am 5">
        </div>
    </div>
    <!-- -->
    <div class="grid grid-cols-2 md:grid-cols-5 py-4">
        <div class="grid place-items-center content-center">
            <img class="w-3/4 max-w-96 h-full" src={pat_hoyo_6.src} alt="Tapia Zuckermann">
        </div>
        <div class="grid place-items-center content-center">
            <img class="w-3/4 max-w-70 animate-pulse" src={logotop1.src} alt="Espacio Disponible">
            <p class="text-white text-xl animate-pulse">Disponible!</p>
        </div>
        <div class="grid place-items-center  content-center">
            <img class="w-3/4 max-w-70 animate-pulse" src={logotop1.src} alt="Espacio Disponible">
            <p class="text-white text-xl animate-pulse">Disponible!</p>
        </div>
        <div class="grid place-items-center  content-center">
            <img class="w-3/4 max-w-70 animate-pulse" src={logotop1.src} alt="Espacio Disponible">
            <p class="text-white text-xl animate-pulse">Disponible!</p>
        </div>
        <div class="grid place-items-center  content-center">
            <img class="w-3/4 max-w-70 animate-pulse" src={logotop1.src} alt="Espacio Disponible">
            <p class="text-white text-xl animate-pulse">Disponible!</p>
        </div>
    </div>
    <!-- -->
    <div class="grid grid-cols-2 md:grid-cols-5 py-4">
        <div class="grid place-items-center content-center">
            <img class="w-3/4 max-w-70 animate-pulse" src={logotop1.src} alt="Espacio Disponible">
            <p class="text-white text-xl animate-pulse">Disponible!</p>
        </div>
        <div class="grid place-items-center content-center">
            <img class="w-3/4 max-w-70 animate-pulse" src={logotop1.src} alt="Espacio Disponible">
            <p class="text-white text-xl animate-pulse">Disponible!</p>
        </div>
        <div class="grid place-items-center  content-center">
            <img class="w-3/4 max-w-70 animate-pulse" src={logotop1.src} alt="Espacio Disponible">
            <p class="text-white text-xl animate-pulse">Disponible!</p>
        </div>
        <div class="grid place-items-center  content-center">
            <img class="w-3/4 max-w-70 animate-pulse" src={logotop1.src} alt="Espacio Disponible">
            <p class="text-white text-xl animate-pulse">Disponible!</p>
        </div>
        <div class="grid place-items-center content-center">
            <img class="w-3/4 max-w-70 animate-pulse" src={logotop1.src} alt="Espacio Disponible">
            <p class="text-white text-xl animate-pulse">Disponible!</p>
        </div>
    </div>
    <!-- -->
    
    <h2 class="w-full text-center uppercase text-2xl text-white p-4">Hoyo</h2>
</div>