---
import pat_inst_1 from '../../../src/img/INSTITUCIONALES/caboreal_white1-05.svg';
import pat_inst_2 from '../../../src/img/INSTITUCIONALES/grupoquestro_white1.svg';
import pat_inst_3 from '../../../src/img/INSTITUCIONALES/bmw_white1-04.svg';
import pat_inst_4 from '../../../src/img/INSTITUCIONALES/croc_white1.svg';
import pat_inst_5 from '../../../src/img/INSTITUCIONALES/indem_white1-02.svg';
import logofortem from '../../../src/img/PLATA/logotipo_menu_fortem_white.svg';
import pat_inst_6 from '../../../src/img/INSTITUCIONALES/pizagolf_white_1.svg';

import Linksvg from '../widgets/Linksvg.astro';
---


<div class="py-8">
    <div class="grid grid-cols-1 md:grid-cols-3">
        <div class="grid place-items-center content-center" data-aos="zoom-in">
            <img class="w-3/4 max-w-fit lg:max-w-60 h-full object-cover hover:-0 flex align-middle justify-center" src={pat_inst_1.src} alt="Cabo Real Golf CLub Patrocinador Institucional">
            <div class="w-full text-center flex flex-col align-middle items-center justify-center">
                <a href="https://questrogolf.com/cabo-real/" target="_blank" class="appearance-none"><Linksvg /></a>
            </div>
        </div>
        <div class="grid place-items-center content-center" data-aos="zoom-in">
            <img class="max-w-sm lg:max-w-80 object-conyain hover:-0" src={pat_inst_2.src} alt="Grupo Questro Patrocinador Institucional">
            <div class="w-full text-center flex flex-col align-middle items-center justify-center">
                <a href="https://questro.com/index.php/en-us/" target="_blank" class="appearance-none"><Linksvg /></a>
            </div>
            
        </div>
        <div class="grid place-items-center  content-center" data-aos="zoom-in">
            <img class="w-3/4 max-w-fit lg:max-w-60 h-full object-cover  hover:-0" src={pat_inst_3.src} alt="BMW Los Cabos Patrocinador Institucional">
            <div class="w-full text-center flex flex-col align-middle items-center justify-center">
                <a href="https://www.bmw.com.mx/es/distribuidores/bmw-los-cabos.html" target="_blank" class="appearance-none"><Linksvg /></a>
            </div>
        </div>
    </div>
    <!-- -->
    <div class="grid grid-cols-1 md:grid-cols-3">
        <div class="grid place-items-center content-center" data-aos="zoom-in">
            <img class="w-3/4 max-w-72 lg:max-w-60 h-full object-cover hover:-0 flex align-middle justify-center" src={pat_inst_4.src} alt="CROC">
            <div class="w-full text-center flex flex-col align-middle items-center justify-center">
                <a href="https://www.croc.org.mx/" target="_blank" class="appearance-none"><Linksvg /></a>
            </div>
            
        </div>
        <div class="grid place-items-center content-center" data-aos="zoom-in">
            <img class="w-3/4 max-w-72 lg:max-w-60 h-full object-cover hover:-0 flex align-middle justify-center" src={pat_inst_5.src} alt="INDEM Los Cabos">
            <div class="w-full text-center flex flex-col align-middle items-center justify-center">
                <a href="https://indemloscabos.gob.mx/" target="_blank" class="appearance-none"><Linksvg /></a>
            </div>
        </div>
        <div class="grid place-items-center content-center" data-aos="zoom-in">
            <img class="w-3/4 max-w-72 lg:max-w-60 h-full object-cover hover:-0 flex align-middle justify-center" src={pat_inst_6.src} alt="">
            <div class="w-full text-center flex flex-col align-middle items-center justify-center">
            <a href="https://pizagolf.com/" target="_blank" class="appearance-none"><Linksvg /></a>
            </div>
        </div>
    </div>
    <h2 class="w-full text-center uppercase text-2xl text-white p-4">Institucionales</h2>
</div>