---
import pat_plata_1 from '../../../src/img/PLATA/CABOSTYLE1.svg';
import pat_plata_2 from '../../../src/img/PLATA/repsol_white_1.svg';
import pat_plata_3 from '../../../src/img/PLATA/alarconabogados_white_1.svg';
import pat_plata_4 from '../../../src/img/PLATA/innovacionsolar_white_1.svg';
import pat_plata_5 from '../../../src/img/PLATA/gtgroup_white_1.svg';
import pat_plata_6 from '../../../src/img/PLATA/fincamex_white_1.svg';
import pat_plata_7 from '../../../src/img/PLATA/rstax_white_1.svg';
import pat_plata_8 from '../../../src/img/PLATA/innovacionsolar_white_1.svg';
import pat_plata_9 from '../../../src/img/PLATA/innovacionsolar_white_1.svg';
import logotop1 from '../../../src/img/torneogolf4sponsors_white_1.svg';
import logotendencia from '../../../src/img/PLATA/tendencia_white_1.svg';
---

<div class="py-8">
    <h2 class="w-full text-center uppercase text-2xl text-white p-4">Plata</h2>
    <hr class="h-px my-2 bg-gray-200 border-0 dark:bg-gray-700 w-80 mx-auto">
    <div class="grid grid-cols-2 md:grid-cols-5">
        <div class="grid place-items-center content-center ">
            <img class="w-full max-w-60 h-full object-cover hover:-0" src={pat_plata_1.src} alt="am 1">
        </div>
        <div class="grid place-items-center content-center">
            <img class="w-full max-w-60 h-full object-cover hover:-0" src={pat_plata_2.src} alt="am 2">
        </div>
        <div class="grid place-items-center content-center">
            <img class="w-full max-w-60 h-full object-cover hover:-0" src={pat_plata_3.src} alt="am 3">
        </div>
        <div class="grid place-items-center content-center">
            <img class="w-full max-w-60 h-full object-cover hover:-0" src={pat_plata_4.src} alt="am 4">
        </div>
        <div class="grid place-items-center content-center">
        <img class="w-full max-w-60 h-full object-cover hover:-0" src={logotendencia.src} alt="Tendencia Patrocinador">
        </div>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-5">
        <div class="grid place-items-center content-center ">
            <img class="w-full max-w-60 h-full object-cover hover:-0" src={pat_plata_5.src} alt="am 1">
        </div>
        <div class="grid place-items-center content-center">
            <img class="w-full max-w-60 h-full object-cover hover:-0" src={pat_plata_6.src} alt="am 2">
        </div>
        <div class="grid place-items-center content-center">
            <img class="w-full max-w-60 h-full object-cover hover:-0" src={pat_plata_7.src} alt="am 3">
        </div>
        <div class="grid place-items-center content-center">
            <img class="w-3/4 max-w-70 animate-pulse" src={logotop1.src} >
            <p class="text-white text-xl animate-pulse">Disponible!</p>
        </div>
        <div class="grid place-items-center content-center">
            <img class="w-3/4 max-w-70 animate-pulse" src={logotop1.src} >
            <p class="text-white text-xl animate-pulse">Disponible!</p>
        </div>
    </div>
    
</div>