---
import pat_plata_1 from '../../../src/img/ORO/CONKAMEX.svg';
import pat_plata_2 from '../../../src/img/PLATA/rstax_white_1.svg';
import pat_plata_3 from '../../../src/img/PLATA/alarconabogados_white_1.svg';
import pat_plata_4 from '../../../src/img/PLATA/innovacionsolar_white_1.svg';
import pat_plata_5 from '../../../src/img/ORO/URCONSA.svg';
import pat_plata_6 from '../../../src/img/PLATA/fincamex_white_1.svg';
import pat_plata_7 from '../../../src/img/PLATA/elpalmar_white_1.svg';
import pat_plata_8 from '../../../src/img/PLATA/innovacionsolar_white_1.svg';
import pat_plata_9 from '../../../src/img/PLATA/innovacionsolar_white_1.svg';
import pat_plata_10 from '../../../src/img/ORO/MANGODECK.svg';
import pat_plata_11 from '../../../src/img/ORO/YENEKAMU.svg';
import pat_plata_12 from '../../../src/img/PLATA/progarden_white_1.svg';
import logotop1 from '../../../src/img/torneogolf4sponsors_white_1.svg';
import logotendencia from '../../../src/img/PLATA/tendencia_white_1.svg';


import * as silversponsor from '../../content/SponsorInfo/silver/silver-sponsors.md';

---

<div class="py-8">
    <h2 class="w-full text-center uppercase text-2xl text-white p-4">Plata</h2>
    <hr class="h-px my-2 bg-gray-200 border-0 dark:bg-gray-700 w-48 mx-auto">
    <div class="grid grid-cols-2 md:grid-cols-5">
        <div class="grid place-items-center content-center ">
            <img class="w-full max-w-60 h-full object-cover hover:-0" src={pat_plata_1.src} alt={silversponsor.frontmatter.silver1_alt}>
        </div>
        <div class="grid place-items-center content-center">
            <img class="w-full max-w-60 h-full object-cover hover:-0" src={pat_plata_2.src} alt={silversponsor.frontmatter.silver2_alt}>
        </div>
        <div class="grid place-items-center content-center">
            <img class="w-full max-w-60 h-full object-cover hover:-0" src={pat_plata_3.src} alt={silversponsor.frontmatter.silver3_alt}>
        </div>
        <div class="grid place-items-center content-center">
            <img class="w-full max-w-60 h-full object-cover hover:-0" src={pat_plata_4.src} alt={silversponsor.frontmatter.silver4_alt}>
        </div>
        <div class="grid place-items-center content-center">
        <img class="w-full max-w-60 h-full object-cover hover:-0" src={pat_plata_12.src} alt={silversponsor.frontmatter.silver5_alt}>
        </div>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-5">
        <div class="grid place-items-center content-center ">
            <img class="w-full max-w-60 h-full object-cover hover:-0" src={pat_plata_5.src} alt={silversponsor.frontmatter.silver6_alt}>
        </div>
        <div class="grid place-items-center content-center">
            <img class="w-full max-w-60 h-full object-cover hover:-0" src={pat_plata_6.src} alt={silversponsor.frontmatter.silver7_alt}>
        </div>
        <div class="grid place-items-center content-center">
            <img class="w-full max-w-60 h-full object-cover hover:-0" src={pat_plata_7.src} alt={silversponsor.frontmatter.silver8_alt}>
        </div>
        <div class="grid place-items-center content-center">
            <img class="w-full max-w-60 h-full object-cover hover:-0" src={pat_plata_10.src} alt={silversponsor.frontmatter.silver9_alt}>
        </div>
        <div class="grid place-items-center content-center">
            <img class="w-full max-w-60 h-full object-cover hover:-0" src={pat_plata_11.src} alt={silversponsor.frontmatter.silver10_alt}>
        </div>
    </div>
    
</div>