---
import pat_plata_1 from '../../../src/img/PLATA/CABOSTYLE1.svg';
import pat_plata_2 from '../../../src/img/PLATA/REPSOL.svg';
import pat_plata_3 from '../../../src/img/PLATA/ALARCONABOGADOS.svg';
import pat_plata_4 from '../../../src/img/PLATA/INNOVACIONSOLAR.svg';
import logotendencia from '../../../src/img/PLATA/logotendencia1-06.svg';
---

<div class="py-8">
    <div class="grid grid-cols-2 md:grid-cols-5">
        <div class="grid place-items-center content-center ">
            <img class="w-full max-w-96 h-full object-cover hover:-0" src={pat_plata_1.src} alt="am 1">
        </div>
        <div class="grid place-items-center content-center">
            <img class="w-full max-w-96 h-full object-cover hover:-0" src={pat_plata_2.src} alt="am 2">
        </div>
        <div class="grid place-items-center content-center">
            <img class="w-full max-w-96 h-full object-cover hover:-0" src={pat_plata_3.src} alt="am 3">
        </div>
        <div class="grid place-items-center content-center">
            <img class="w-full max-w-96 h-full object-cover hover:-0" src={pat_plata_4.src} alt="am 4">
        </div>
        <div class="grid place-items-center content-center">
        <img class="w-full max-w-96 h-full object-cover hover:-0" src={logotendencia.src} alt="Tendencia Patrocinador">
        </div>
    </div>
    <h2 class="w-full text-center uppercase text-2xl text-white p-4">Plata</h2>
</div>